/* src/components/routes/Contact/Contact.css */



.contact-container{
    position: relative;
    height: 50vh;
}

.rectangle{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    /* opacity: 0.9; */

}

.contact-two-lines{
    position:absolute;
    margin-left:25% ;
    margin-top: 7rem;
    color: white;
}

.contact-heading{
    font-size: 3rem;
    font-weight: 700;
}

.contact-subheading{
    font-size: 1.5rem;
    font-weight: 500;
}