/* src/components/routes/LandingPage/Tenth/Tenth.css */



.tenth-page-content{
    background-color: #380E0A;
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0rem;

}

.tenth-page-left{
    width:50%;
}

.oxygen-guy{
    margin-bottom: 3rem;
    margin-top: 5rem;
    width: 30rem;

}


.tenth-page-right{
    width:50%;
}



.tenth-right-content{
    margin: auto;
    margin-top: 8rem;
    margin-left: 4rem;
    width: 80%;
    color: white;
    text-align: start;
}


.tenth-heading{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.tenth-caption{
    font-size: 1.1rem;
    text-align: start;
}