/* src/components/routes/LandingPage/Tenth/Tenth.css */



.tenth-page-content{
    background-color: #380E0A;
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0rem;

}

.tenth-page-left{
    width:50%;
}

.oxygen-guy{
    margin-bottom: 3rem;
    margin-top: 5rem;
    width: 30rem;

}


.tenth-page-right{
    width:50%;
}



.tenth-right-content{
    margin: auto;
    margin-top: 8rem;
    margin-left: 4rem;
    width: 80%;
    color: white;
    text-align: start;
}


.tenth-heading{
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.tenth-caption{
    font-size: 1.1rem;
    text-align: start;
    color: rgb(180, 179, 179);;
}



/* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {

    .tenth-page-content{
        display: flex;
        flex-direction: column;
        margin: auto;
    
    }

    .oxygen-guy{
        margin: auto;
        margin-top: 5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        width: 22rem;
    
    }
    
    
    .tenth-right-content{
        margin: auto;
        margin-left: 2rem;
        width: 175%;
    }
    
    
    .tenth-heading{
        font-size: 2rem;
        margin: auto;
        width: 100%;
    }
    
    .tenth-caption{
        font-size: 1rem;
        text-align: left;
    }
    
}