/* src/components/routes/LandingPage/Third/Third.css */


.third-page-content{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.third-page-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 1000px;
}

.third-page-box{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 30%;
    margin: auto;
    margin-top: 4rem;

}

.box-icon {
    margin-bottom: 10px;
  }

  .snylloair-third{
    width: 2.5rem;
  }
  
  .box-heading {
    margin-bottom: 5px;
    font-size:larger;
    font-weight:500;
  }
  
  .box-caption{
    margin-top: 5px;
    color: gray;

  }


  /* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {

  .third-page-content{
    margin: auto;
    margin-top: 0;
    margin-bottom: 5rem;
  }   

  .third-page-boxes{
      margin: auto;
      margin-left: 2rem;
  }

  .third-page-box{
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: auto;
      margin-top: 2rem;

  }

  .box-icon {
      margin-bottom: 0.5rem;
      margin-top: 1.5rem;
    }

    .snylloair-third{
      width: 2.5rem;
    }
    
    .box-heading {
      margin-bottom: 0.25rem;
    }
    
    .box-caption{
      margin-top: 0.5rem;
      width: 30%;


    }
}