/* src/components/routes/LandingPage/FormContact/FormContact.css */


.formContact-page{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1rem;
}

.formContact-right-content{
  width:35%;
}


.formContact-right{
    width:100%;
    height: 100vh;
    margin-top: 0;
}


.formContact-left-content{
    width: 65%;
    height: 100vh;
    margin: auto;
    margin-top: 0;
    padding: 1rem;
    padding-top: 2rem;
    background-color: rgb(240, 238, 238);

}

.formContact-container{
  width:100%;
    margin: auto ;
    padding-bottom: 2rem;
}

.formContact-heading{
    margin: auto;
    font-weight: 700;
}

.formContact-line1{
    font-size:2.25rem;
    color:#CE3B3C;
}

.formContact-line2{
    font-size:2.25rem;
    color: rgb(46, 46, 45);
}

.formContact-line3{
    font-size:1rem;
    font-weight: 400;
    color: gray;
}

#formContact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input-row {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    
  }
  
  input {
    width: calc(50% - 0.5rem); /* Adjusted width to fit two inputs in a row with a small gap */
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid;
    border-color: rgb(172, 171, 171);
    margin: 1rem;
    margin-left: 0;
  }

  .country{
    width: 52%;
    height:25%;
    padding: 0.4rem;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid;
    border-color: gray;
    color: rgb(66, 62, 57);

  }

  .profession-bookForm {
    width: calc(100% - 2rem); /* Adjusted width to fit the full length */
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 1.5rem; 
    border: 1px solid;
    border-color: rgb(172, 171, 171);
  }

  .message-bookForm {
    width: calc(100% - 3rem); 
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 2rem; 
    border: 1px solid;
    border-color: rgb(172, 171, 171);
  }
  
  .bookFormbutton {
    width: 50%; 
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
    background-color: #ce3b3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bookFormbutton:hover {
    background-color: #380e0a;
  }
  

  
/* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {


  .formContact-page{
    width:100%;
    flex-direction: column-reverse;
    height: auto;
  }

  .formContact-right-content{
    width:100;
  }


  .formContact-right{
      width:100vw;
      height: auto;
  }


  .formContact-left-content{
      width:100%;
      height: 80vh;
      
  }

  .formContact-container{
      width: 100%;
      margin: auto ;
  }
  .formContact-heading{
      margin: auto;
      font-weight: 700;
  }

  .formContact-line1{
      font-size:1.25rem;
      margin: auto;
  }

  .formContact-line2{
      font-size:2.25rem;
  }

  .profession-bookForm {
    width: calc(100%);
  }

  .message-bookForm {
    width: calc(100%); 
    margin: auto;
  }

  .bookFormbutton {
    width: 60%; 
    margin: auto;
    margin-top: 1rem;
  }

}