/* src/components/routes/Meidicine/Medicine.css */



.medicine-cotainer-mechanisms{
    margin: 1rem;

}

.medicine-cotainer-mechanisms-heading{
    font-size: 2.5rem;
    font-weight: 700;
    color: #CE3B3C;
    margin-top: 6rem;
}

.mechanism-hbot{
    display: flex;
    flex-direction: row;
    margin: 2rem;
    text-align: center;
}


.our-color{
    color: #CE3B3C;

}

/* ********** */

.medicine-history {
    width: 100%;
    border-radius: 5px;
}
  
.history-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #CE3B3C;
}
  

.history{
  margin: auto;
  margin-left: 2rem;
  padding: 4rem;
  height: 130vh;
  width:auto;
}

.historyy{
    display: none;
}

/* *********** */

.medicine-clinic-contra{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: -4.25rem;
}

.medicine-sec-two-left{
    width: 50%;
    margin-bottom: -3rem;
}

.clinic{
    width:90%;
    height: 90vh;
    margin-left: -5rem;
    margin-bottom: 0;
}

.medicine-sec-two-right{
    width: 50%;
    margin-bottom: -5rem;
}

.contra{
    width:80%;
    height: 55vh;
    margin-left: -5rem;
    margin-top: 5rem;
    margin-bottom: 0;
}

.contrad{
    display: none;
}


/* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {



    .medicine-cotainer-mechanisms{
        margin: 1rem;
        margin-top: 0;
    
    }
    
    .medicine-cotainer-mechanisms-heading{
        font-size: 2rem;
        margin: auto;
        margin-top: 2rem;
        width: 80%;
    }
    
    .mechanism-hbot{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        text-align: center;
    }
    
    
    .our-color{
        color: #CE3B3C;
    
    }
    /* *******/

        
    .medicine-history {
        width: 100%;
    }
    
    .history-heading {
        font-size: 2.1rem;
        width: 85%;
        margin: auto;
        margin-bottom: 1rem;
    }
    

    .history{
        display: none;

    }
    

    .historyy{
        display: block;
        width:30rem;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;


    }

    /* ******** */

    .medicine-clinic-contra{
        background-color: white;
        position: relative;
        display: block;
        margin-bottom: 15rem;
    }
    
    .medicine-sec-two-left{
        width: 100%;
    }
    
    .clinic{
        width:110%;
        height: min-content;
        margin-left: 0;
    }
    
    .medicine-sec-two-right{
        width: 100%;
        background-color: white;
        margin-top: 1rem;
    }
    
    .contra{
        display: none;
    }
    
    .contrad{
        display: block;
        width:15rem;
        margin: auto;
        margin-top: 4rem;
        background-color: white;
    }


}