/* src/components/routes/LandingPage/Footer/Footer.css */

.footer-container{ 
    height: 55vh;
    background-color: #380E0A;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: -1vh;
    margin-bottom: 0.5rem;
}

.snylloair-footer{
    width:15rem;
    height:11rem;
    margin-top: 5rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.footer-column-two,
.footer-column-three,
.footer-column-four,
.footer-column-five{
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: flex-start;
    width:12rem;
}

.footer-column-five{
    
    margin-left: -2rem;

}

.footer-column-two >h3,
.footer-column-three >h3,
.footer-column-four >h3,
.footer-column-five >h3{
    font-size:1.5rem;
    margin-top: 4rem;
    color:#CE3B3C;   
}

.linkis{
    text-decoration: none;
    line-height: 1.25; 
    font-size: 1rem;
    margin-top:1rem;
}

.button-footer{
    text-decoration: none; 
    color: white; 
    font-size: 1.1rem;
}

.button-footer:hover{
    color:#CE3B3C;
}



.footer-column-5-icons{
    display: flex;
    flex-direction: row;
    margin-left: -0.5vw;
}

.footer-icons{
    margin: 1vh;
    height: 5vh;
}

.icon-four{
    height: 4vh;
    margin-top: 1.5vh;
}


/* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {
    
    .footer-container{ 
        height: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .snylloair-footer{
        width:15rem;
        height:11rem;
        margin-top: 5rem;
    }

    .footer-column-two,
    .footer-column-three,
    .footer-column-four,
    .footer-column-five{
        display:flex;
        flex-direction: column;
        margin-left: 6rem;
        align-items: center;
    }


}