/* src/components/routes/LandingPage/Footer/Footer.css */

.footer-container{ 
    height: 60vh;
    background-color: #380E0A;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: -0.25rem;
}

.snylloair-footer{
    width:14rem;
    height:11rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

.footer-column-two,
.footer-column-three,
.footer-column-four,
.footer-column-five{
    display:flex;
    flex-direction: column;
    margin-left: 2rem;
    align-items: start;
    width:12rem;
}

.footer-column-two >h3,
.footer-column-three >h3,
.footer-column-four >h3,
.footer-column-five >h3{
    font-size:1.5rem;
    margin-top: 4rem;
    color:#CE3B3C;   
}

.linkis{
    text-decoration: none;
    line-height: 1.25; 
    font-size: 1rem;
    margin-top:1rem;
}

.button-footer{
    text-decoration: none; 
    color: white; 
    font-size: 1.1rem;
}

.button-footer:hover{
    color:#CE3B3C;
}

