/* src/components/routes/Company/Company.css */



.company-container-one {
    position: relative;
    height: 115vh;
    margin-top: 1vh;
}

.company{
    position: absolute;
    top: 0;
    left: -2vw;
    width:102vw;
    height: 120vh;
    margin-top: -1.5rem;
    z-index: -1;
}


.company-container-one-content {
    position: absolute;
    margin:auto;
    margin-left: 7.5rem;
    margin-top: 12rem; 
    color: white;
    text-align: left;
    padding: 10px;
    width: 40%;
}

.company-container-one-line1{
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
    line-height: 8vh;

}

.company-container-one-line2{
    font-size: 1.25rem;
    font-weight: 400;
    margin: auto;
    margin-top: 2rem;
    line-height: 4vh;
}




/* *********** */


.company-container-two{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #710B0B;
}

.company-two-left{
    width:50%;
}

.catch{
    height:100vh;
    margin-left: -15%;
}

.company-two-right{
    width:50%;
}

.company-two-right-content{
    text-align: left;
    width:80%;
    color: white;
    margin-left: 5%;
    margin-top: 10%;
}

.company-content-line1{
    font-size: 2.75rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-weight: 700;
}

.company-content-line2{
    font-size: 1.25rem;
    line-height: 4vh;
}




/* ************** */


.company-container-three{
    position: relative;
    height: 50vh;
    background-color: #710B0B;
}

.mission-vision-box{
    margin: auto;
    margin-bottom: 1rem;
    height: 35vh;
    width:80vw;
    display: flex;
    flex-direction: row;
    background-color: #4e0000;
    border: 1px solid;
    border-color: transparent;
    border-radius: 1rem;
    padding: 1rem;

}

.mission-vision-caption{
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.mis-vis-heading{
    font-size: 2.5rem;
    font-weight: 500;
    vertical-align: 3vh;
    color: #CE3B3C;
}

.mis-vis-para{
    width:80%;
    text-align: left;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}


/* ************ */

.company-container-four{
    position: relative;
    height: auto;
}

.company-four-heading{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #CE3B3C;
}

.company-boxes{
    margin: auto;
    margin-left: 5rem;
    margin-bottom: 3rem;
    width: 95%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    text-align: left;
    
}

.company-box{
    margin: 1rem;
    margin-top: 2rem;
}

.company-box-heading{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.company-box-para{
    color: gray;
    line-height: 4vh;
    width: 90%;
}