/* src/components/routes/Company/Company.css */



.company-container-one {
    position: relative;
    height: 110vh;
    margin-top: 1vh;
}

.company{
    position: absolute;
    top: 0;
    left: -2vw;
    width:102vw;
    height: 110vh;
    z-index: -1;
}


.company-container-one-content {
    position: absolute;
    margin:auto;
    margin-left: 7.5rem;
    margin-top: 12rem; 
    color: white;
    text-align: left;
    padding: 10px;
    width: 40%;
}

.company-container-one-line1{
    font-size: 3rem;
    font-weight: 700;
    margin: auto;
    line-height: 8vh;

}

.company-container-one-line2{
    font-size: 1.25rem;
    font-weight: 400;
    margin: auto;
    margin-top: 2rem;
    line-height: 4vh;
}




/* *********** */


.company-container-two{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #710B0B;
}

.company-two-left{
    width:50%;
}

.catch{
    height:100vh;
    margin-left: -15%;
}

.company-two-right{
    width:50%;
}

.company-two-right-content{
    text-align: left;
    width:80%;
    color: white;
    margin-left: 5%;
    margin-top: 15%;
}

.company-content-line1{
    font-size: 2.75rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-weight: 700;
}

.company-content-line2{
    font-size: 1.25rem;
    line-height: 4vh;
}

