/* src/components/routes/LandingPage/Ninth/Ninth.css */


.ninth-page-content{
    width:100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5rem;
    background-color: #F9FAFB;
}

.ninth-page-left{
    width:50%;
}

.ninth-left-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 4rem;
    margin-top: 4rem;
}

.ninth-left-icon{
    width: 4rem;
}

.ninth-left-text{
    font-size: 2rem;
    font-weight: 500;
    color: #CE3B3C;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    margin-top: 1rem;
    margin-left: 1rem;
}

.ninth-left-para{
    font-size: larger;
    width:75%;
    margin: auto;
    text-align: left;
    margin-left: 13rem;
    margin-top: 5rem;
    /* font-weight: 500; */
    color: gray;
}

.ninth-page-right{
    width:50%;
}

.masked-girl{
    width:35rem;
}



/* for mobile screens  */

@media only screen and (min-width: 320px) and (max-width: 750px) {


    .ninth-page-content{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 1rem;
    }
    
    .ninth-page-left{
        width:100%;
    }
    
    .ninth-left-heading{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .ninth-left-icon{
        width: 4rem;
        margin-left: -25%;
    }
    
    .ninth-left-text{
        font-size: 1.5rem;
    }
    
    .ninth-left-para{
        font-size: large;
        width:85%;
        margin: auto;
        text-align: left;
        margin-top: 1rem;
    }
    
    .ninth-page-right{
        width:100%;
    }
    
    .masked-girl{
        width:30rem;
    }
    
}