/* src/components/routes/Oxygen/Aging/Aging.css */



.aging-container-one {
    position: relative;
    height: 110vh;
}

.aging-bg{
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height: 150vh;
    z-index: -1;
    opacity: 0.75;
}


.aging-container-one-content {
    position: absolute;
    margin:auto;
    margin-top: 12.5rem; 
    margin-left: 5rem;
    z-index: 1; 
    color: white;
    text-align: center;
    padding: 20px;
}

.aging-container-one-line1{
    font-size: 1.75rem;
    margin: auto;
    margin-bottom: 1rem;

}

.aging-container-one-line2{
    font-size: 3.25rem;
    font-weight: 700;
    margin: auto;
    margin-bottom: 3rem;
    width: 65%;
}

.aging-container-one-line3 {
    font-size:1.1rem;
    width:65%;
    margin:auto;
    font-family: "Fira Sans","Helvetica Neue",Arial,sans-serif;

}

